absl-py==0.3.0
amqp==2.3.2
appnope==0.1.0
asn1crypto==0.24.0
aws-xray-sdk==0.95
azure-common==1.1.14
azure-nspkg==2.0.0
azure-storage==0.36.0
backcall==0.1.0
bleach==1.5.0
boto3==1.7.73
boto==2.49.0
botocore==1.10.73
bz2file==0.98
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cookies==2.2.1
cryptography==2.2.2
cycler==0.10.0
decorator==4.3.0
dill==0.2.8.2
docker-pycreds==0.3.0
docker==3.4.1
docutils==0.14
ecdsa==0.13
entrypoints==0.2.3
Flask==0.12.4
future==0.16.0
futures==3.1.1
geoip2==2.9.0
graphviz==0.8.4
h5py==2.8.0
html5lib==0.9999999
hub==0.0.8
idna==2.7
ijson==2.3
iml==0.6.2
inflection==0.3.1
ipykernel==4.8.2
ipython-genutils==0.2.0
ipython==6.5.0
ipywidgets==7.4.0
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.9.6
jmespath==0.9.3
jsondiff==1.1.1
jsonpickle==0.9.6
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyter==1.0.0
Keras==2.1.6
kiwisolver==1.0.1
kombu==4.2.1
librato-metrics==3.1.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
maxminddb==1.4.1
mistune==0.8.3
mock==2.0.0
money==1.3.0
moto==1.3.4
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.6.0
numpy==1.14.5
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pbr==4.2.0
pexpect==4.6.0
pickleshare==0.7.4
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.6.0
psycopg2==2.7.5
ptyprocess==0.6.0
py4j==0.10.7
pyaml==17.12.1
pyasn1-modules==0.2.2
pyasn1==0.4.4
pycparser==2.18
pycryptodome==3.6.4
pydot==1.2.4
Pygments==2.2.0
PyJWT==1.6.4
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyspark==2.3.1
python-dateutil==2.6.1
python-jose==2.0.2
pytz==2018.5
PyYAML==3.13
pyzmq==17.1.0
qtconsole==4.3.1
redis==2.10.6
requests==2.19.1
responses==0.9.0
rollbar==0.14.2
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==1.1.0
Send2Trash==1.5.0
shap==0.12.1
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.7
snowflake-connector-python==1.5.8
snowflake-sqlalchemy==1.1.2
sqlalchemy-migrate==0.11.0
sqlalchemy-redshift==0.7.1
SQLAlchemy==1.2.10
sqlparse==0.2.4
tabulate==0.8.2
Tempita==0.5.2
tensorflow-tensorboard==1.5.1
tensorflow==1.5.1
terminado==0.8.1
testpath==0.3.1
tornado==5.1
tqdm==4.24.0
traitlets==4.3.2
u-msgpack-python==2.5.0
urllib3==1.23
vine==1.1.4
wcwidth==0.1.7
websocket-client==0.48.0
Werkzeug==0.14.1
widgetsnbextension==3.4.0
wrapt==1.10.11
xgboost==0.72.1
xmltodict==0.11.0
-e .

